@charset "utf-8";

#content {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    section {
        top: 80%;
        padding: 5% 0 0 5%;
        overflow: hidden;

        h2 {
            letter-spacing: 0.1rem;
        }
    }
}